.footerMidInstagramContainer {
}

.footerMidInstagramTitle {
  margin: 0 0 1em;
}

.footerMidInstagram {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.footerMidInstagram img {
  display: block;
}
