.button {
  color: white;
  background-color: #00b207;
  font-family: "Poppins", Helvetica, Arial, sans-serif;

  padding: 0.625rem 1.5625rem;
  border: none;
  border-radius: 1.5625rem;

  cursor: pointer;
}

.align {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
