.button {
  color: white;
  background-color: #00b207;
  font-family: "Poppins", Helvetica, Arial, sans-serif;

  padding: 0.625rem 1.5625rem;
  border: 1px solid white;
  border-radius: 1.5625rem;

  cursor: pointer;
}

.button:hover {
  background-color: #2c742f;
}

.button:active {
  border: 1px solid #00b207;
  background-color: white;
  color: #00b207;
}

.align {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
