.bg {
  padding: 5rem 0;
  background-color: #edf2ee;
}

.container {
  max-width: 82rem;
  margin: 0 auto;

  position: relative;

  text-align: center;
}

figure {
  margin: 0;
}

.title {
  width: 60%;

  color: white;
  font-family: "Poppins Bold", Helvetica, Arial, sans-serif;
  font-size: 3rem;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.videoBg {
  width: 100%;
  height: 99%;

  background-color: rgba(0, 46, 3, 0.6);
  border-radius: 1.25rem;

  position: absolute;
  top: 0;
  left: 0;
}
