.container {
  background-color: #edf2ee;
  width: 100vw;
}

.news {
  height: 10rem;
  max-width: 82.5rem;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.para {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}

.span {
  margin: 0;
  font-size: 0.875em;
}

.input {
  margin-left: 1.25rem;
  height: 2.75rem;
  width: 18.75rem;

  border: 1px solid #dae5da;
  border-right: none;
  border-radius: 3.4375rem 0 0 3.4375rem;

  font-family: "Poppins", Helvetica, Arial, sans-serif;
  text-indent: 0.75rem;
}

.button {
  height: 2.75rem;
  padding: 0.625rem 1.25rem;

  background-color: #00b207;
  color: white;

  border: none;
  border-radius: 0 3.4375em 3.4375em 0;

  font-family: "Poppins Bold", Helvetica, Arial, sans-serif;
}
