.footerNewsInput {
  margin-left: 1.25rem;
  height: 2.75rem;
  width: 18.75rem;

  border: 1px solid #dae5da;
  border-right: none;
  border-radius: 3.4375rem 0 0 3.4375rem;

  font-family: "Poppins", Helvetica, Arial, sans-serif;
  text-indent: 0.75rem;
}

.footerNewsButton {
  height: 2.75rem;
  padding: 0.625rem 1.25rem;

  background-color: #00b207;
  color: white;

  border: none;
  border-radius: 0 3.4375em 3.4375em 0;

  font-family: "Poppins Bold", Helvetica, Arial, sans-serif;
}
