a {
  text-decoration: none;
}

.text {
  width: 100%;
  padding: 0 20px 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info {
  line-height: 1.9;
  display: flex;
  flex-direction: column;
}

.price {
  font-family: "Poppins Bold", Helvetica, Arial, sans-serif;
  color: #1a1a1a;
}
