.container {
  background-color: white;
  border: 1px solid rgb(229, 229, 229);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.container:hover {
  border: 1px solid rgb(44, 116, 47);
  box-shadow: 0 0 5px rgb(44, 116, 47);
  position: relative;
}

a {
  text-decoration: none;
}

.img {
  width: 100%;
}

.name {
  color: #4d4d4d;
}

.text {
  width: 100%;
  padding: 0 1.25rem 1.25rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info {
  line-height: 1.9;
  display: flex;
  flex-direction: column;
}

.price {
  font-family: "Poppins Bold", Helvetica, Arial, sans-serif;
  color: #1a1a1a;
}
