a {
  text-decoration: none;
}

.container {
  width: 100%;
  background-color: white;
  border: 1px solid white;
}

.container330 {
  width: 330px;
  height: 428px;
  background-color: white;
  border: 1px solid white;
}

.img {
  width: 100%;
}

.text {
  width: 100%;
  padding: 0 20px 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info {
  line-height: 1.9;
  display: flex;
  flex-direction: column;
}

.name {
  color: #4d4d4d;
}

.name330 {
  color: #4d4d4d;
}

.price {
  font-family: "Poppins Bold", Helvetica, Arial, sans-serif;
  color: #1a1a1a;
}

.price330 {
  font-family: "Poppins Bold", Helvetica, Arial, sans-serif;
  color: #1a1a1a;
}

.filled {
  color: #ff8a00;
}

.filled330 {
  color: #ff8a00;
}

.empty {
  color: #cccccc;
}

.empty330 {
  color: #cccccc;
}
