.top {
  color: var(--gray300);
  background-color: #333333;
  width: 100%;
  height: 2.625em;
}

.topContainer {
  width: clamp(375px, 100vw, 1320px);
  height: 100%;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 0.75rem;
  font-weight: lighter;
}

.middle {
  width: clamp(375px, 100vw, 1320px);
  height: 5.8125em;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr 31.125em 1fr;
  align-items: center;
}

.middleLogo {
  margin: 0;
  padding: 0;
}

.bottom {
  width: clamp(375px, 100vw, 1320px);
  height: 3.75em;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-top: 1px solid #e6e6e6;
}

.bottomPhone {
  font-family: "Poppins Bold", Helvetica, Arial, sans-serif;
  font-size: 0.875rem;
}

.bottomPhone a {
  color: #1a1a1a;
  text-decoration: none;
}

.bottomPhone a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}
