.list {
  padding: 0;
  margin-bottom: 3.125rem;
  list-style-type: none;

  color: #b4ccb4;

  display: flex;
}

.link {
  padding: 0 24px;
  border-right: 2px solid #dadada;
  cursor: pointer;
}

.link:last-of-type {
  border: none;
}

.link,
.link a {
  color: #808080;
  text-decoration: none;
}

.link:hover,
.link a:hover {
  color: #00b207;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 1rem;
}

.link:visited {
  color: #808080;
}
