.list {
  padding: 0;
  margin-bottom: 3.125rem;
  list-style-type: none;

  color: #b4ccb4;

  display: flex;
}

.link {
  margin: 0 1.5rem;

  color: #808080;
  text-decoration: none;
}

.link:hover {
  color: #00b207;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 1rem;
}
