html {
  overflow: hidden; 
  overflow-y: auto;
}

.footerNewsContainer {
  background-color: #EDF2EE;
  width: 100vw;
}

.footerNews {
  height: 160px;
  max-width: 1320px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerNewsPara {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}

.footerNewsSpan {
  margin: 0;
  font-size: 0.875em;
}

.footerBottomContainer {
  color: white;
  background:
    url("/img/bg-footer-left.png") no-repeat bottom left,
    url("/img/bg-footer-right.png") no-repeat bottom right,
    #002603;
  min-height: 31.25rem;
}

.footerBottom {
  max-width: 1320px;
  margin: 0 auto;

  color: #618062;
  font-size: 0.875rem;
}

.footerBottom h3 {
  font-size: 1.25rem;
  color: white;
  margin: 0;
}

.footerBottomMid {
  min-height: 25.9375rem;
  padding: 100px 0;

  display: flex;
  justify-content: space-between;
}

.footerBottomMidAbout {
  max-width: 330px;
}

.footerBottomMidAbout a {
  color: white;
  text-decoration-color: #20b526;
  text-decoration-thickness: 2px;
}

.footerBottomMidLinks {
  display: flex;
  justify-content: space-between;
  gap: 4.875rem;
}

.footerBottomMidLinks ul {
  padding: 0;
  list-style-type: none;
  line-height: 2.5;
}

.footerBottomMidLinks a {
  color: #618062;
  text-decoration: none;
}

.footerBottomMidLinks a:hover {
  color: white;
}

.footerBottomBottom {
  padding: 1.5625rem 0;
  border-top: 1px solid #1a421d;

  display: grid;
  grid-template-columns: 1fr 500px 1fr;
  justify-content: space-between;
}

.footerBottomBottomSocials {
  display: flex;
  gap: 0.625rem;
}

.footerBottomBottomSocials a {
  color: #618062;
}

.footerBottomBottomSocials a:hover {
  color: #20b526;
} 

.footerBottomBottomFlags {
  justify-self: end;
  
  display: flex;
  gap: 10px;
}

.footerBottomBottomFlags a {
  color: #618062;
}

.footerBottomBottomFlags a:hover {
  color: #20b526;
} 