html {
  overflow: hidden;
  overflow-y: auto;
}

.container {
  color: white;
  background: url("/img/bg-footer-left.png") no-repeat bottom left,
    url("/img/bg-footer-right.png") no-repeat bottom right, #002603;
  min-height: 31.25rem;
}

.info {
  max-width: 82.5rem;
  margin: 0 auto;

  color: #618062;
  font-size: 0.875rem;
}

.info h3 {
  font-size: 1.25rem;
  color: white;
  margin: 0;
}

.top {
  min-height: 25.9375rem;
  padding: 6.25rem 0;

  display: flex;
  justify-content: space-between;
}

.topAbout {
  max-width: 20.625rem;
}

.topAbout a {
  color: white;
  text-decoration-color: #20b526;
  text-decoration-thickness: 0.125rem;
}

.topLinks {
  display: flex;
  justify-content: space-between;
  gap: 4.875rem;
}

.topLinksList {
  padding: 0;
  list-style-type: none;
  line-height: 2.5;
}

.topLinks a {
  color: #618062;
  text-decoration: none;
}

.topLinks a:hover {
  color: white;
}

.bottom {
  padding: 1.5625rem 0;
  border-top: 1px solid #1a421d;

  display: grid;
  grid-template-columns: 1fr 31.25rem 1fr;
  justify-content: space-between;
}

.bottomSocials {
  display: flex;
  gap: 0.625rem;
}

.bottomSocials a {
  color: #618062;
}

.bottomSocials a:hover {
  color: #20b526;
}

.bottomFlags {
  justify-self: end;

  display: flex;
  gap: 0.625rem;
}

.bottomFlags a {
  color: #618062;
}

.bottomFlags a:hover {
  color: #20b526;
}
