.footerNewsContainer {
  background-color: #EDF2EE;
  width: 100vw;
}

.footerNews {
  height: 160px;
  max-width: 1320px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerNewsPara {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}

.footerNewsSpan {
  margin: 0;
  font-size: 0.875em;
}

.footerBottomContainer {
  color: white;
  background:
    url("/img/bg-footer-left.png") no-repeat bottom left,
    url("/img/bg-footer-right.png") no-repeat bottom right,
    #002603;
  min-height: 31.25rem;
}

.footerBottom {
  max-width: 1320px;
  margin: 0 auto;
}

.footerBottomMid {
  min-height: 25.9375rem;
  padding: 100px 0;

  display: flex;
  justify-content: space-between;

  color: #618062;
  font-size: 0.875rem;
}

.footerBottomMidAbout h3 {
  font-size: 1.25rem;
  color: white;
}

.footerBottomMidAbout a {
  color: white;
  text-decoration-color: #20b526;
  text-decoration-thickness: 2px;
}

.footerBottomBottom {
}
