.container {
  width: 100%;
  padding: 2.5rem;

  border-width: 1px 1px 1px 0;
  border-color: #e5e5e5;
  border-style: solid;

  font-size: 14px;
  color: #999999;
}

.container h3 {
  font-size: 18px;
  color: #1a1a1a;
  margin-bottom: 6px;
}

.container:hover,
.container:hover h3 {
  color: white;
  background-color: #00b207;
}

.container:first-of-type {
  border-width: 1px;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.container:last-of-type {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.iconContainer {
  width: 70px;
  height: 70px;
  border: 1px solid #e5e5e5;
  border-radius: 50%;

  background-color: white;

  display: grid;
  place-items: center;
}

.p {
  margin: 0;
}
