.headerTop {
  color: var(--gray300);
  background-color: #333333;
  width: 100%;
  height: 2.625em;
}

.headerTopContainer {
  width: clamp(375px, 100vw, 1320px);
  height: 100%;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 0.75rem;
  font-weight: lighter;
  letter-spacing: 0.025em;
}

.headerTopLocation {

}

.headerTopSign {

}