@font-face{
  font-family: "Poppins";
  src:local("Poppins-Regular"),
  url('./assets/Poppins/Poppins-Regular.ttf') 
}

@font-face{
  font-family: "Poppins Bold";
  src:local("Poppins-Bold"),
  url('./assets/Poppins/Poppins-Bold.ttf') 
}

@font-face{
  font-family: "Segoe Script";
  src:local("Segoe Script"),
  url('./assets/Segoe/segoesc.ttf') 
}

:root {
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  letter-spacing: 0.01rem;

  background-color: #FFFFFF;
  color: var(--gray900);
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  --gray900: #1A1A1A;
  --gray300: #B3B3B3;
  --gray500: #808080;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
}

#root {
  margin: 0 auto;
}

address {
  margin: 0;
}