.container {
  max-width: 82.5rem;
  margin: 2rem auto;

  font-family: "Poppins", Helvetica, Arial, sans-serif;
}

.details {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.detailsPhoto {
  width: 100%;
}

.nameContainer {
  border-bottom: 1px solid #cccccc;
}

.name {
  margin: 0;

  font-family: "Poppins Bold", Helvetica, Arial, sans-serif;
  font-size: 2.25rem;
}

.rating {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 16px;
}

.filled {
  color: #ff8a00;
}

.empty {
  color: #cccccc;
}

.bold {
  font-family: "Poppins Bold", Helvetica, Arial, sans-serif;
}

.pricing {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 20px 0;
}

.oldPrice {
  color: #b3b3b3;
  font-size: 20px;
  text-decoration: line-through;
}

.newPrice {
  color: #2c742f;
  font-size: 24px;
}

.discount {
  color: #ea4b48;
  background-color: rgba(234, 75, 72, 0.1);
  padding: 5px 10px;
  border-radius: 50px;
}

.shareContainer {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin: 24px 0 24px 0;
}

.brand {
  font-family: "Poppins Bold", Helvetica, Arial, sans-serif;
}

.gray {
  color: #808080;
}

.shareIcons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.shareIcon {
  width: 30px;
  height: 30px;
  padding: 5px;
  color: #4d4d4d;
}

.shareIcon:hover {
  color: white;
  background-color: #00b207;
  border-radius: 50%;
}

.description {
  width: 100%;
  color: #808080;
  font-size: 14px;
  margin: 0;
}

.cartContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px;
  margin-top: 24px;
  margin-bottom: 24px;

  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}

.qty {
  display: flex;
  border: 1px solid #e5e5e5;
  border-radius: 50px;
  gap: 8px;

  padding: 5px 10px;
}

.qtyPlus,
.qtyMinus {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;
  padding: 3px 5px;
  background-color: #e5e5e5;
  border: none;
  border-radius: 50px;
}

.button {
  width: 400px;
}

.heart {
  color: red;
}

.apart {
  display: flex;
  gap: 5px;
}

.related {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;

  margin-top: 24px;
}

.title {
  grid-column: span 4;
  text-align: center;
  margin: 0;

  font-family: "Poppins Bold", Helvetica, Arial, sans-serif;
  font-size: 32px;
}
